$base-font-color:#1890ff !important;


#root {
    height: 100%;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #fff;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #fff;
}